<app-navbar></app-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center"
    style="min-height: 75vh;"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("../../../assets/img/photo_2020-10-15_01-04-00.jpg");'
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Ardhi University Student Government
            </h1>
            <p class="mt-4 text-lg text-gray-300">
         
            The Students Government is aiming at protecting  and promoting Student’s Interests during 
            their tenure at the Ardhi University
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px; transform: translateZ(0px);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-sun"></i>
              </div>
              <h6 class="text-xl font-semibold">Make Aru Great Again</h6>
              <p class="mt-2 mb-4 text-gray-600">
       We are aiming at specifying our goals into Ministerial Work plans, clear purpose, measurable success and meeting deadlines.
       
      </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-sun"></i>
              </div>
              <h6 class="text-xl font-semibold">second motto/policy</h6>
              <p class="mt-2 mb-4 text-gray-600">
            W also are aiming to see that all students <br>at Ardhi university prosper and recognize their true potential while
            here.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
              >
                <i class="fas fa-sun"></i>
              </div>
              <h6 class="text-xl font-semibold">Right time for right changes</h6>
              <p class="mt-2 mb-4 text-gray-600">
            Our  vision it to see that all students<br> at Ardhi university are highly given their due rights as they undergo<br>
            their studies without undermining ANY.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32" #about>
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-fa-info text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            What is ARUSO
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
     
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
        Ardhi University Student Organization (ARUSO) government is committed to (Ardhi University (ARU) Community and Dedicated
        to Progress, our main objective is serving for, to protect and promote student’s interests in all aspects of their lives
        during their tenure at the Ardhi University.
          </p>
          <!-- <p class="font-bold text-gray-800 mt-8">Location and date  </p> -->
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
          >
            <img
              alt="..."
              src="../../../assets/img/photo_2020-10-15_01-00-28.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-pink-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
           Ardhi University Vice Chancellar Key-note
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Makamu Mkuu wa Chuo Kikuu Ardhi pamoja na Serikali ya wanafunzi iliyopita na ya sasa ya awamu ya 13 ,
                
                Malengo bila mikakati ni matamanio. Mikakati inayotekelezeka ndio daraja la mafanikio na hii ndio Dira yetu

              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px; transform: translateZ(0px);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="../../../assets/img/photo_2020-10-15_01-03-58 (3).jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-blue-500  p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blue-700"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">leadership Achievement so far</h3>
            <p class="mt-4 text-lg leading-relaxed text-gray-600">
         We have managed to Strengthen  our relationship with NMB BANK PLC inorder
         to make sure that the Student’s of Ardhi University are ensured with Good financial 
         Services  in areas such as Mwanachuo Account , Health Insurance , Disastors and many other Services 
         which touch Day to day life of a University Student. 
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <!-- <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"
                      ><i class="fas fa-calendar-day"></i
                    ></span>
                  </div> -->
                  <!-- <div>
                    <h4 class="text-gray-600">
                      Date and location
                    </h4>
                  </div> -->
                </div>
              </li>
<!--              <li class="py-2">-->
<!--                <div class="flex items-center">-->
<!--                  <div>-->
<!--                    <span-->
<!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
<!--                      ><i class="fab fa-html5"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <h4 class="text-gray-600">Amazing page examples</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="py-2">-->
<!--                <div class="flex items-center">-->
<!--                  <div>-->
<!--                    <span-->
<!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
<!--                      ><i class="far fa-paper-plane"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <h4 class="text-gray-600">Dynamic components</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4" #leaders>
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Here are our leaders</h2>
          <p class="text-lg leading-relaxed m-4 text-gray-600">
         Aruso Executive Committe consist of the  President,
        Vice President , Prime Minister,
       Principal Secretary
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/WhatsApp Image 2020-11-28 at 06.50.22.jpeg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Hon. Hemed Mndeme</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                President
              </p>
              <div class="mt-6">
                <button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i></button
                ><button
                  class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i></button
                >
<!--                <button-->
<!--                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"-->
<!--                  type="button"-->
<!--                >-->
<!--                  <i class="fab fa-dribbble"></i>-->
<!--                </button>-->
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/vice.jpg"
              class="shadow-lg img  rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold"> Hon. Philbert Paul</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Vice President
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-google"></i></button
                ><button
                  class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="../../../assets/img/pm.jpg"
              class="shadow-lg  rounded-full  max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Hon. Kilave Lilian</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
               Prime Minister
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-google"></i></button
                ><button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i></button
                ><button
                  class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src=""
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">  name </h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              Principal Secretary
              </p>
              <div class="mt-6">
<!--                <button-->
<!--                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"-->
<!--                  type="button"-->
<!--                >-->
<!--                  <i class="fab fa-dribbble"></i></button-->
<!--                >-->
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-google"></i></button
                ><button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i></button
                ><button
                  class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-20 relative block bg-gray-900">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px; transform: translateZ(0px);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Message us</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            contact aruso leaders and drop any suggestion, inquiry etc.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
<!--        <div class="w-full lg:w-3/12 px-4 text-center">-->
<!--          <div-->
<!--            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"-->
<!--          >-->
<!--            <i class="fas fa-medal text-xl"></i>-->
<!--          </div>-->
<!--          <h6 class="text-xl mt-5 font-semibold text-white">-->
<!--            Excelent Services-->
<!--          </h6>-->
<!--          <p class="mt-2 mb-4 text-gray-500">-->
<!--            Some quick example text to build on the card title and make up-->
<!--            the bulk of the card's content.-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="w-full lg:w-3/12 px-4 text-center">-->
<!--          <div-->
<!--            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"-->
<!--          >-->
<!--            <i class="fas fa-poll text-xl"></i>-->
<!--          </div>-->
<!--          <h5 class="text-xl mt-5 font-semibold text-white">-->
<!--            Grow your market-->
<!--          </h5>-->
<!--          <p class="mt-2 mb-4 text-gray-500">-->
<!--            Some quick example text to build on the card title and make up-->
<!--            the bulk of the card's content.-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="w-full lg:w-3/12 px-4 text-center">-->
<!--          <div-->
<!--            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"-->
<!--          >-->
<!--            <i class="fas fa-lightbulb text-xl"></i>-->
<!--          </div>-->
<!--          <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>-->
<!--          <p class="mt-2 mb-4 text-gray-500">-->
<!--            Some quick example text to build on the card title and make up-->
<!--            the bulk of the card's content.-->
<!--          </p>-->
<!--        </div>-->
      </div>
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48" #message>
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >
            <form class="flex-auto p-5 lg:p-10" [formGroup]="MessageForm" (ngSubmit)="onSubmit()">
<!--              <h4 class="text-2xl font-semibold">Fill this Form</h4>-->
<!--              <p class="leading-relaxed mt-1 mb-4 text-gray-600">-->
<!--                Complete this form and we will get back to you in 24 hours.-->
<!--              </p>-->
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="full-name"
                  >Full Name</label
                ><input
                  type="text" id="full-name"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                  placeholder="Full Name" formControlName="fullName"
                  style="transition: all 0.15s ease 0s;"
                />
              </div>
<!--              <div class="relative w-full mb-3">-->
<!--                <label-->
<!--                  class="block uppercase text-gray-700 text-xs font-bold mb-2"-->
<!--                  for="email"-->
<!--                  >Email</label-->
<!--                ><input-->
<!--                  type="email"-->
<!--                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"-->
<!--                  placeholder="Email"-->
<!--                  style="transition: all 0.15s ease 0s;"-->
<!--                />-->
<!--              </div>-->
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="message"
                  >Message</label
                ><textarea
                  rows="4"
                  cols="80" id="message"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                  placeholder="Type a message..." formControlName="message"
                ></textarea>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="submit"
                  style="transition: all 0.15s ease 0s;"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
