<mat-toolbar color="accent" style="width: 100%">
  <button mat-icon-button routerLink="/landing">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<!--    Achievement two-->

<div class="container mx-auto px-4 ">
  <div class="items-center flex flex-wrap mb-12">

    <div class="w-full md:w-5/12 ml-auto mr-auto px-4 mt-12">
      <div class="md:pr-12">
<!--        <div-->
<!--          class="text-blue-500  p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blue-200"-->
<!--        >-->
<!--          <i class="fas fa-rocket text-xl"></i>-->
<!--        </div>-->
        <h3 class="text-3xl font-semibold">Second Archievement</h3>
        <p class="mt-4 text-lg leading-relaxed text-gray-600">
          We have managed to Strengthen  our relationship with NMB BANK PLC inorder
          to make sure that the Student’s of Ardhi University are ensured with Good financial
          Services  in areas such as Mwanachuo Account , Health Insurance , Disastors and many other Services
          which touch Day to day life of a University Student.
        </p>
        <ul class="list-none mt-6">
          <li class="py-2">
            <div class="flex items-center">
              <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200 mr-3"
                    ><i class="fas fa-calendar-day"></i
                    ></span>
              </div>
              <div>
                <h4 class="text-gray-600">
                  Date and location
                </h4>
              </div>
            </div>
          </li>
          <!--              <li class="py-2">-->
          <!--                <div class="flex items-center">-->
          <!--                  <div>-->
          <!--                    <span-->
          <!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
          <!--                      ><i class="fab fa-html5"></i-->
          <!--                    ></span>-->
          <!--                  </div>-->
          <!--                  <div>-->
          <!--                    <h4 class="text-gray-600">Amazing page examples</h4>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </li>-->
          <!--              <li class="py-2">-->
          <!--                <div class="flex items-center">-->
          <!--                  <div>-->
          <!--                    <span-->
          <!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
          <!--                      ><i class="far fa-paper-plane"></i-->
          <!--                    ></span>-->
          <!--                  </div>-->
          <!--                  <div>-->
          <!--                    <h4 class="text-gray-600">Dynamic components</h4>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </li>-->
        </ul>
      </div>
    </div>
    <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-lg"
        src="../../../assets/img/photo_2020-10-15_01-03-58 (3).jpg"
      />
    </div>
  </div>
</div>

<!--    Achievement three-->


<div class="container mx-auto px-4 mt-16">
  <div class="items-center flex flex-wrap mb-12 ">

    <div class="w-full md:w-5/12 ml-auto mr-auto px-4 ">
      <div class="md:pr-12">
<!--        <div-->
<!--          class="text-blue-500  p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blue-200"-->
<!--        >-->
<!--          <i class="fas fa-rocket text-xl"></i>-->
<!--        </div>-->
        <h3 class="text-3xl font-semibold">third archievement</h3>
        <p class="mt-4 text-lg leading-relaxed text-gray-600">
          We have managed to Strengthen  our relationship with NMB BANK PLC inorder
          to make sure that the Student’s of Ardhi University are ensured with Good financial
          Services  in areas such as Mwanachuo Account , Health Insurance , Disastors and many other Services
          which touch Day to day life of a University Student.
        </p>
        <ul class="list-none mt-6 ">
          <li class="py-2">
            <div class="flex items-center">
              <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200 mr-3"
                    ><i class="fas fa-calendar-day"></i
                    ></span>
              </div>
              <div>
                <h4 class="text-gray-600">
                  Date and location
                </h4>
              </div>
            </div>
          </li>
          <!--              <li class="py-2">-->
          <!--                <div class="flex items-center">-->
          <!--                  <div>-->
          <!--                    <span-->
          <!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
          <!--                      ><i class="fab fa-html5"></i-->
          <!--                    ></span>-->
          <!--                  </div>-->
          <!--                  <div>-->
          <!--                    <h4 class="text-gray-600">Amazing page examples</h4>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </li>-->
          <!--              <li class="py-2">-->
          <!--                <div class="flex items-center">-->
          <!--                  <div>-->
          <!--                    <span-->
          <!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
          <!--                      ><i class="far fa-paper-plane"></i-->
          <!--                    ></span>-->
          <!--                  </div>-->
          <!--                  <div>-->
          <!--                    <h4 class="text-gray-600">Dynamic components</h4>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </li>-->
        </ul>
      </div>
    </div>
    <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-lg"
        src="../../../assets/img/photo_2020-10-15_01-03-58 (3).jpg"
      />
    </div>
  </div>
</div>
